<header class="site-header">
  <div class="wrapper header-wrapper">

    <!-- LOGO -->
    <a class="site-title" href="{{ '/' | relative_url }}">
      FluenteMente
    </a>

    <!-- NAV -->
    <nav class="site-nav">

      <input type="checkbox" id="nav-trigger" class="nav-trigger" />

      <label for="nav-trigger" class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </label>

      <div class="trigger">

        <a class="page-link" href="{{ '/principianti/' | relative_url }}">Inizia</a>
        <a class="page-link" href="{{ '/metodo/fluentemente-metodo/' | relative_url }}">Metodo</a>
        <a class="page-link" href="{{ '/inglese/' | relative_url }}">Inglese</a>
        <a class="page-link" href="{{ '/risorse/' | relative_url }}">Risorse</a>
        <a class="page-link" href="{{ '/blog/' | relative_url }}">Blog</a>

        <!-- CTA -->
        <a class="page-link is-primary" href="{{ '/recensione-babbel/' | relative_url }}">
          🚀 Prova Gratis
        </a>

      </div>
    </nav>
  </div>
</header>
