<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  {% if page.description %}
    <meta name="description" content="{{ page.description | strip_newlines | escape }}" />
  {% else %}
    <meta name="description" content="{{ site.description | strip_newlines | escape }}" />
  {% endif %}

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <link rel="canonical" href="{{ page.url | absolute_url }}" />

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
<script data-goatcounter="https://fluente-mente.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  
</head>
